@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
      font-family: "Rubik", sans-serif;
      color: #393c41;
      box-sizing: border-box;
      margin:0;
      padding:0;
    }
    h1{
        font-size: 35px;
        font-weight: 700;
    }
    button{
        height: 40px;
        width: 256px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        opacity: 0.85;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;
    }
  }
